body {
    margin: 0;
}
h1 {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.cloud {
    color: #00CCFF;
}
 

h2{
   background-color: #663399;
   color: white;
   text-align: center;
   font-style: italic;
   padding: 10px;
   margin-top: 0;
   margin-bottom: 5px;
}

h3{
    background-color: #99BBEE;
    text-align: right;
    padding: 5px 15px;
    margin-top: 0;  
}
h3 a {
    color: #000080;
    text-decoration: underline;
}

