<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Show</title>
</head>
<body>
    <a href="/shows">Go Back</a>
    <h1>Add a New Show</h1>
    {% if messages %}
        <ul style="color: red; list-style-type: square;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/shows/create" method="POST">
        {% csrf_token %}
        <p>Title: <input type="text" name="title" required></p>
        <p>Network: <input type="text" name="network" required></p>
        <p>Release Date: <input type="date" name="release_date" required></p>
        <p>Description:<br>
        <textarea name="description" cols="30" rows="5"></textarea></p>
        <button type="submit">Create</button>
    </form>
</body>
</html>